<%- include('../partials/header1') %>


<div class="centered home">
  <div class="container">
  <img src="https://t4.ftcdn.net/jpg/02/27/45/09/360_F_227450952_KQCMShHPOPebUXklULsKsROk5AvN6H1H.jpg" height="100px" />
    <h1 class="display-3">Admin account</h1>
    <p class="lead">Welcome to IRIS
    </p>
    <hr>
    <a class="btn btn-primary btn-lg px-4 gap-3" href="/registeradmin" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginadmin" role="button">Login</a>

  </div>
</div>

<%- include('../partials/footer') %>