<%- include('../partials/header1') %>


<div class="jumbotron centered home">
  <div class="container">
  <img src="https://e7.pngegg.com/pngimages/265/858/png-clipart-computer-icons-teacher-professor-education-lecturer-teacher-angle-logo.png" height="100px" />
    <h1 class="display-3">Faculty account</h1>
    <p class="lead">Welcome to IRIS
    </p>
    <hr>
    <a class="btn btn-primary btn-lg px-4 gap-3" href="/registerfaculty" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginfaculty" role="button">Login</a>

  </div>
</div>

<%- include('../partials/footer') %>