<%- include("partials/header.ejs") %>

<section>
<!-- <div class="first-page"> -->
  <div class="jumbotron centered home">
    <div class="container">
<img class="d-block mx-auto " src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-1/512/30-multiplayer-users-user-people-group-1024.png" alt="" height="120px">
<!-- <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1> -->
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4 main-heading">CHOOSE LOGIN/REGISTER TYPE</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a type="button" class="btn btn-primary btn-lg px-4 gap-3 rounded-pill" href="/student">Student</a>
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3 rounded-pill" href="/faculty">Faculty</a>
        <a type="button" class="btn btn-dark rounded-pill btn-lg" href="/admin">Admin</a>
  </div>
</div>
</div>
  </div>
<!-- </div> -->
</section>



<%- include("partials/footer.ejs") %>


