<%- include('../partials/header1') %>


<div class="jumbotron centered home">
  <div class="container">
  <img src="https://cdn0.iconfinder.com/data/icons/education-line-circle-1/614/243_-_Male_Student-512.png" height="120px" />
    <h1 class="display-3">Student account</h1>
    <p class="lead">Welcome to IRIS
    </p>
    <hr>
    <a class="btn btn-primary btn-lg px-4 gap-3" href="/registerstudent" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginstudent" role="button">Login</a>

  </div>
</div>

<%- include('../partials/footer') %>